<template>
    <section :id="slug" :name="slug">
        <h2>{{title}}</h2>
        <div class="mb-4">
            <b-badge pill variant="secondary">{{category}}</b-badge>
            <b-badge pill variant="light">{{media}}</b-badge>
            <b-badge pill variant="light">{{year}}</b-badge>
        </div>
       <p class="lead">
           La capture d'écrans est au cœur de mon travail. Sorte de croquis continu, elle est une des façons de garder une trace
           de mon activité numérique. Le dossier rassemblant mes captures d'écrans est probablement l'autoportrait le plus juste qui soit.
           Les captures sont parfois aussi les captations de moments précieux, d'agencements improbables et souvent éphémères à l'écran. 
       Elle est aussi une façon d'intégrer l'interface au travail.
       </p>
        <Work :slug="slug" :imgs="imgs"/>  
    </section>
</template>

<script>
import Work from'@/components/Work'

export default {
    components: {
        Work
    },
    data: function() {
        return {
            type: 'standard',
            title: 'Appareil photo (1943)',
            slug: '1943',
            category: '',
            ongoing: false,
            imgs: 1,
            description: ``,
            year: '2018',
            media: 'Screen capture',
            dimensions: 'Variables'
        }
    } 
}
</script>
