<template>
    <section :id="slug" :name="slug">
        <h2>{{title}}</h2>
        <div class="mb-4">
            <b-badge pill variant="light">{{media}}</b-badge>
            <b-badge pill variant="light">{{year}}</b-badge>
        </div>
       <p class="lead">
           {{description}}
       </p>
        <Work :slug="slug" :imgs="imgs"/>  
    </section>
</template>

<script>
import Work from'@/components/Work'

export default {
    components: {
        Work
    },
    data: function() {
        return {
            type: 'standard',
            title: '30 frames, everywhere',
            slug: '30-frames',
            ongoing: true,
            imgs: 5,
            description: `Créés à l’aide de Processing, ces "films" présentent une façon différente d'aborder la vidéo. Le images, plutôt que d'être superposées, sont placées à différents endroits d'un même format à une fréquence standard. Elles semblent alors se déployer dans l'espace autant que dans le temps. La persistance des images amène de nouveaux rapports de couleurs et une certaine forme de composition, fût-elle aléatoire.`,
            year: '2017',
            media: 'Processing',
            dimensions: 'Variables'
        }
    } 
}
</script>