<template>
    <section :id="slug" :name="slug">
        <h2>{{title}}</h2>
        <div class="mb-4">
            <b-badge pill variant="light">{{media}}</b-badge>
            <b-badge pill variant="light">{{year}}</b-badge>
        </div>
       <p class="lead">
           {{description}}
       </p>
        <Work :slug="slug" :imgs="imgs"/>  
    </section>
</template>

<script>
import Work from'@/components/Work'

export default {
    components: {
        Work
    },
    data: function() {
        return {
            type: 'standard',
            title: 'AKDT sessions',
            slug: 'akdt',
            ongoing: true,
            imgs: 3,
            description: `Créés à l’aide de Processing pour les sessions 2014, ces visuels se basent sur la liste des stages programmés depuis les débuts de l’Académie Internationale d’Eté de Wallonie. Affiches, dépliants, cartes postales et signets ont été créés sur cette base. (Graphisme: Gisèle Simon)`,
            year: '2014',
            media: 'Processing/Impressions',
            dimensions: 'Variables'
        }
    } 
}
</script>