<template>
    <section :id="slug" :name="slug" class="doc-section">
        <h2>{{title}}</h2>
        <div class="mb-4">
 <b-badge pill variant="secondary">{{category}}</b-badge>
        <b-badge pill variant="light">{{year}}</b-badge>
        </div>
       <p class="lead">
           Un workshop d'une journée utilisant les périphériques mobiles comme outils de création/diffusion du travail artistique. Le travail est réalisé entièrement avec les téléphones portables des étudiants et diffusé sur un réseau local (Wi-Fi)
           installé sur Raspberry Pi (type PirateBox).
       </p>
        <Work :slug="slug" :imgs="imgs"/>  
    </section>
</template>

<script>
import Work from'@/components/Work'

export default {
    components: {
        Work
    },
    data: function() {
        return {
            type: 'standard',
            title: 'Antichambre',
            slug: 'antichambre',
            category: 'Workshop',
            ongoing: false,
            imgs: 4,
            description: `Workshop d'une journée`,
            year: '2018',
            media: 'web',
            dimensions: 'Variables'
        }
    } 
}
</script>

