<template>
    <section :id="slug" :name="slug" class="doc-section">
        <h2>{{title}}</h2>
        <div class="mb-4">
 <b-badge pill variant="secondary">{{media}}</b-badge>
        <b-badge pill variant="light">{{year}}</b-badge>
        </div>
       <p class="lead">
           {{description}}
       </p>
        <Work :slug="slug" :imgs="imgs"/>  
    </section>
</template>

<script>
import Work from'@/components/Work'

export default {
    components: {
        Work
    },
    data: function() {
        return {
            type: 'standard',
            title: 'Baldessari',
            slug: 'baldessari',
            ongoing: false,
            imgs: 5,
            description: `This script may be used for "baldessariing" existing images. Just upload yours and download the results. Built with tracker.js. (Script is currently offline).`,
            year: '2018',
            media: 'HTML/Javascript',
            dimensions: 'Variables'
        }
    } 
}
</script>

