<template>
    <section :id="slug" :name="slug">
        <h2>{{title}}</h2>
        <div class="mb-4">
            <b-badge pill variant="secondary">{{category}}</b-badge>
            <b-badge pill variant="light">{{media}}</b-badge>
            <b-badge pill variant="light">{{year}}</b-badge>
        </div>
       <p class="lead">
           Ce travail, disponible en ligne, est basé sur le tableau de Bernard Lorge Sans titre [Paysage], datant de 1989, ou plus précisément sur l'image du post Facebook qui a été diffusé, dans sa définition et ses dimensions propres (un JPG de 660x444px). Ce travail faisait partie de l'exposition '36 nuances de vert', organisée à l'ENSAV de La Cambre en juin 2017.
       </p>
 
        <Work :slug="slug" :imgs="imgs"/>  
    </section>
</template>

<script>
import Work from'@/components/Work'

export default {
    components: {
        Work
    },
    data: function() {
        return {
            type: 'standard',
            title: 'Sans titre [Tableau]',
            slug: 'bernard',
            category: '',
            ongoing: false,
            imgs: 5,
            description: ``,
            year: '2017',
            media: 'Screen capture',
            dimensions: 'Variables'
        }
    } 
}
</script>