<template>
    <section :id="slug" :name="slug">
        <h2>{{title}}</h2>
        <div class="mb-4">
            <b-badge pill variant="light">{{media}}</b-badge>
            <b-badge pill variant="light">{{year}}</b-badge>
        </div>
       <p class="lead">
           Un des objectifs de ce travail (ou devrais-je dire de cette version de cette portion de travail en cours) était de pouvoir utiliser les données stockées sur les serveurs de Google, liées à mon emploi du temps vie l'API de Google Calendar, comme matière première du travail. Comme une façon de conjurer la pression horaire et de la convertir en un output visuel aux multiples variations. Une sorte d'éclatement.</p>
           <p class="lead"> <a href="https://my2018.netlify.com/" title="https://my2018.netlify.com/" target="_blank">https://my2018.netlify.com/</a></p><p class="lead">De cette façon, au quotidien, au moins j'aurais de temps libre, au plus j'aurais de matière à travailler. Le désoeuvrement le serait alors également au sens littéral: une dislocation de l'oeuvre.</p>
           
           <p class="lead">Plutôt que de <em>dessiner</em> ces données dans un élément HTML <code>canvas</code>, j'ai préféré ici utiliser de la <em>matière web</em><sup><a href="#note1">[1]</a></sup>, et générer via un script les balises HTML correspondant à chaque jour, heure et événement de l'année entière. Cet ensemble de près de 15,000 éléments en fait une page particulièrement sollicitante pour les navigateurs.</p>
    



      
        <Work :slug="slug" :imgs="imgs"/>  
        <p id="note1" class="note">[1] La <em>matière web</em> fait référence à tous les élements constitutifs du web, outils, compétences, langages et pratiques.</p>
    </section>
</template>

<script>
import Work from'@/components/Work'

export default {
    components: {
        Work
    },
    data: function() {
        return {
            type: 'standard',
            title: 'L\'emploi du temps',
            slug: 'calendar',
            category: '',
            ongoing: true,
            imgs: 7,
            description: ``,
            year: '2019',
            media: 'Web matter',
            dimensions: 'Viewport'
        }
    } 
}
</script>

