<template>
    <section :id="slug" :name="slug">
        <h2>{{title}}</h2>
        <div class="mb-4">
            <b-badge pill variant="secondary">{{category}}</b-badge>
            <b-badge pill variant="light">{{media}}</b-badge>
            <b-badge pill variant="light">{{year}}</b-badge>
        </div>
       <p class="lead">
           Cette série de travaux explore la façon dont les ordinateurs lisent ou voient les images à l'aide d'algorithmes
    (object detection). Deux type de travaux dans ces séries: Ceux qui relèvent de la précieuse imperfection des détections et leurs lots d'absurdités (relatives). 
    Et ceux qui s'intéressent aux zones laissées de côtés. Friches visuelles. Non-objets. Abstractions figuratives.
       </p>
       <p class="lead">Dans cette série, le travail fait à partir du tableau éponyme de Magritte est intéressant car
           il pourrait laisser supposer une certaine aptitude de la machine à capter l'esprit surréaliste, associant la pipe
           à un vase sur une table ou un nuage blanc dans le ciel.
       </p>
       <p class="lead">Le titre <em>UNK</em> se référère au marquage des zones non-identifiées mais reconnues comme objets. L'on peut ainsi pousser l'algorithme dans ses retranchements 
       en le faisant tourner en boucle sur les captures des résultats, un peu à la manière d'une photocopieuse photocopiant ses propres copies, jusqu'à perdre toute information signifiante.</p>
        <Work :slug="slug" :imgs="imgs"/>  
    </section>
</template>

<script>
import Work from'@/components/Work'

export default {
    components: {
        Work
    },
    data: function() {
        return {
            type: 'standard',
            title: '<UNK>',
            slug: 'densecap',
            category: '',
            ongoing: true,
            imgs: 9,
            description: ``,
            year: '2017',
            media: 'Object detection, Gravure et découpe laser',
            dimensions: 'Variables'
        }
    } 
}
</script>