<template>
    <section :id="slug" :name="slug" class="doc-section">
        <h2>{{title}}</h2>
        <div class="mb-4">
            <b-badge pill variant="light">{{media}}</b-badge>
            <b-badge pill variant="light">{{year}}</b-badge>
        </div>
       <p class="lead">
           Ce travail exploite le mode de vue 3D du navigateur Firefox (developer tools). Le travail consiste ici à injecter dans une page web, via javascript, des éléments HTML et à les positionner dans l’espace tridimensionnel de façon à construire des villes ou des monuments.
       </p>
        <Work :slug="slug" :imgs="imgs"/>  
    </section>
</template>
<script>
import Work from'@/components/Work'

export default {
    components: {
        Work
    },
    data: function() {
        return {
            type: 'standard',
            title: 'Div Cities',
            slug: 'divcities',
            ongoing: false,
            imgs: 19,
            description: '',
            year: '2016',
            media: 'HTML/CSS + Dev tools',
            dimensions: 'Variables'
        }
    } 
}
</script>


