<template>
    <section :id="slug" :name="slug">
        <h2>{{title}}</h2>
        <div class="mb-4">
            <b-badge pill variant="light">{{media}}</b-badge>
            <b-badge pill variant="light">{{year}}</b-badge>
        </div>
       <p class="lead">
           Une page web générant un lot de courbes de Bézier avec lignes directrices et points d'ancrage. Le tout s'agitant frénétiquement jusqu'à dislocation.
           Une <a href="https://floating-curves.netlify.com/" title="https://floating-curves.netlify.com/" target="_blank">autre version</a> existe également, plus délicate.
         <br/>
           > <a href="https://frenetic-bezier.netlify.com/" title="frenetic-bezier.netlify.com" target="_blank" class="d-inline-flex mt-3">https://frenetic-bezier.netlify.com/</a>
       </p>
       <div class="d-flex justify-content-center mt-5">
  <video width="94%" height="auto" style="border-radius:5px;-webkit-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.2);
box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.2);" autoplay loop>
<source src="/works/frenetic/frenetic.mp4" type="video/mp4" />

Your browser does not support the video tag.
</video>
</div>
        <Work :slug="slug" :imgs="imgs"/>  
    </section>
</template>

<script>
import Work from'@/components/Work'

export default {
    components: {
        Work
    },
    data: function() {
        return {
            type: 'standard',
            title: 'Frenetic Bezier curves',
            slug: 'frenetic',
            category: '',
            ongoing: true,
            imgs: 1,
            description: ``,
            year: '2018',
            media: 'HTML, Javascript',
            dimensions: 'Viewport'
        }
    } 
}
</script>

