<template>
    <section :id="slug" :name="slug">
        <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v3.3"></script>
        <h2>{{title}}</h2>
        <div class="mb-4">
            <b-badge pill variant="secondary">{{category}}</b-badge>
            <b-badge pill variant="light">{{media}}</b-badge>
            <b-badge pill variant="light">{{year}}</b-badge>
        </div>
       <p class="lead">
           Cette page fait partie d'une série de travaux explorant le web en tant qu'espace, à la fois physique, imaginaire et de transmission (en particulier en ce qui concerne les données..). La page liste les Facebook Clic Identifiers (ou fbclid - voir plus bas) de ses visiteurs et les stocke sur le serveur, dans un fichier JSON (faisant office ici de base de données). Elle permet à chacun de laisser une marque dans cet espace vierge, à la façon d'un livre d'or.
</p>
<div style="padding:2rem;"><img src="/works/guestbook/fbclid.png"></div>

<p class="lead">Ces identifiants, inintelligibles pour nous, le seront pour Facebook. Cependant, le contexte artistique(et non commercial) de la page réduit leur utilité à néant et transforme cette dernière en une sorte de <em>cimetière des identifiants</em>, voie sans issue et sans sens.
</p>
<p class="lead">Cette île, sur les rivages de laquelle nous venons piteusement nous échouer, est hébergée chez le bien-nommé Digital Ocean, à Londres en l'occurrence.
       
       </p>
       <p class="lead mb-4">Le lien est disponible dans le post ci-dessous:</p>
       <div class="fb-post" data-href="https://www.facebook.com/aylauv.koding/posts/2413886648834678" data-width="750" data-show-text="true"><blockquote cite="https://developers.facebook.com/aylauv.koding/posts/2413886648834678" class="fb-xfbml-parse-ignore"><p>||||||||||||||||||||||||||||||||||||||||||||||||||||||
      ...</p>Publiée par <a href="#" role="button">Nicolas Biéva</a> sur&nbsp;<a href="https://developers.facebook.com/aylauv.koding/posts/2413886648834678">Samedi 1 juin 2019</a></blockquote></div>
        <Work :slug="slug" :imgs="imgs"/>  
    
    <p>Depuis octobre dernier, Facebook ajoute automatiquement un paramètre supplémentaire aux URLs des liens sur lesquels vous cliquez dans votre fil d'actualité (?fbclid=). Ce paramètre (Facebook Clic Identifier, ou fbclid) permet à Facebook de traquer vos clics, outrepassant au passage les protections mises en place par certains navigateurs.</p>
        <p>Côté technique: Droplet Ubuntu 16.04 chez <a href="https://www.digitalocean.com/" target="_blank" title="Digital Ocean">Digital Ocean</a> / 
                    Serveur web <a href="https://www.nginx.com/" target="_blank" title="NginX">NginX</a> / 
                    <a href="https://letsencrypt.org/" target="_blank" title="Let's Encrypt">Let's Encrypt</a> pour le <a href="https://fr.wikipedia.org/wiki/HyperText_Transfer_Protocol_Secure" target="_blank" title="HTTPS">HTTPS</a> / 
                    <a href="https://nodejs.org/en/" target="_blank" title="NodeJS">NodeJS</a> + <a href="https://expressjs.com/fr/" target="_blank" title="Express">Express</a> + moteur de templating <a href="https://ejs.co/" target="_blank" title="EJS">EJS</a> / 
                    Domaine chez <a href="https://www.gandi.net/fr" target="_blank" title="Gandi.net">gandi.net</a>
                    </p>
    </section>
</template>

<script>
import Work from'@/components/Work'

export default {
    components: {
        Work
    },
    data: function() {
        return {
            type: 'standard',
            title: 'The Guest Book',
            slug: 'guestbook',
            category: '',
            ongoing: true,
            imgs: 3,
            description: ``,
            year: '2019',
            media: 'Web, NodeJS, Express, EJS',
            dimensions: 'Browser'
        }
    } 
}
</script>
