<template>
    <section :id="slug" :name="slug" class="doc-section">
        <h2>{{title}}</h2>
        <div class="mb-4">
 <b-badge pill variant="secondary">{{category}}</b-badge>
        <b-badge pill variant="light">{{year}}</b-badge>
        </div>
       <p class="lead">
           horsligne.online is a non-webpage or a web <em>non-site</em>.
       </p>
        <Work :slug="slug" :imgs="imgs"/>  
    </section>
</template>

<script>
import Work from'@/components/Work'

export default {
    components: {
        Work
    },
    data: function() {
        return {
            type: 'standard',
            title: 'horsligne.online',
            slug: 'horsligne',
            category: 'Making',
            ongoing: false,
            imgs: 1,
            description: `horsligne.online is a non-webpage. A nothing-online or an something-offline`,
            year: '2018',
            media: 'web',
            dimensions: 'Variables'
        }
    } 
}
</script>

