<template>
    <section :id="slug" :name="slug">
        <h2>{{title}}</h2>
        <div class="mb-4">
            <b-badge pill variant="light">{{media}}</b-badge>
            <b-badge pill variant="light">{{year}}</b-badge>
        </div>
       <p class="lead">
           Cette série explore l'API des <a href="https://commons.wikimedia.org/wiki/Commons:Commons_API" target="_blank">Wikimedia Commons</a> et la façon dont ces ressources peuvent être agencées/réordonnées ou mise en musique pour
            produire de nouveaux types d'images, animées ou non, à partir de mots-clés spécifiques. 
            Ce travail est un travail en cours.</p>
        <NewWork :slug="slug" :imgs="imgs" :format="'png'"/>

    </section>
</template>

<script>
import NewWork from'@/components/NewWork'

export default {
    components: {
        NewWork
    },
    data: function() {
        return {
            type: 'standard',
            title: 'Hurricanes',
            slug: 'hurricanes',
            category: '',
            ongoing: true,
            imgs: 7,
            description: ``,
            year: '2019',
            media: 'HTML/CSS/JS + Wikimedia API',
            dimensions: 'Viewport'
        }
    } 
}
</script>