<template>
    <section :id="slug" :name="slug">
        <h2>{{title}}</h2>
        <div class="mb-4">
            <b-badge pill variant="light">{{media}}</b-badge>
            <b-badge pill variant="light">{{year}}</b-badge>
        </div>
       <p class="lead">
           Inline chat is an ongoing project initiated in 2017. The goal is to create an open and anonymous chat room (usually private matter).
            Each entry is stored in a Firebase DB along with timestamp and chosen name. There is no authentication or access control and
            no private data stored as such location or IP adresses. 
            <br/>
           > <a href="https://inlinechat.net/" title="Inline chat" target="_blank" class="d-inline-flex mt-3">https://inlinechat.net</a>
       </p>
       <p class="lead">
           This explores the way we communicate when we do not know each other and have absolutely no material to speak about, as text or image. 
       
       </p>
        <NewWork :slug="slug" :imgs="imgs" :format="'png'"/>

      
    </section>
</template>

<script>
import NewWork from'@/components/NewWork'

export default {
    components: {
        NewWork
    },
    data: function() {
        return {
            type: 'standard',
            title: 'Inline Chat',
            slug: 'inlinechat',
            category: '',
            ongoing: true,
            imgs: 6,
            description: ``,
            year: '2019',
            media: 'Web matter + Firebase',
            dimensions: 'Viewport'
        }
    } 
}
</script>