<template>
    <section :id="slug" :name="slug">
        <h2>{{title}}</h2>
        <div class="mb-4">
            <b-badge pill variant="light">{{media}}</b-badge>
            <b-badge pill variant="light">{{year}}</b-badge>
        </div>
       <p class="lead">
           {{description}}
       </p>
 
        <Work class="img-4" :slug="slug" :imgs="imgs"/>  
    </section>
</template>

<script>
import Work from'@/components/Work'

export default {
    components: {
        Work
    },
    data: function() {
        return {
            type: 'standard',
            title: 'Itten sorted',
            slug: 'ittensorted',
            ongoing: false,
            imgs: 23,
            format: 'jpg',
            description: `Pixel sorting. Réorganisation des pixels d'un travail de Itten. Pixels classés par teinte, luminosité ou intensité (saturation), ou par paires de valeurs. (Les deux derniers c'est Albers.. ; )`,
            year: '2017',
            media: 'Pixel sorting',
            dimensions: 'Variables'
        }
    } 
}
</script>