<template>
    <section :id="slug" :name="slug">
        <h2>{{title}}</h2>
        <div class="mb-4">
            <b-badge pill variant="light">{{media}}</b-badge>
            <b-badge pill variant="light">{{year}}</b-badge>
        </div>
       <p class="lead">
           {{description}}
       </p>
        <Work :slug="slug" :imgs="imgs"/>  
    </section>
</template>

<script>
import Work from'@/components/Work'

export default {
    components: {
        Work
    },
    data: function() {
        return {
            type: 'standard',
            title: 'Slit scan laundry',
            slug: 'laundry',
            ongoing: true,
            imgs: 9,
            description: `Ces images sont le résultat d'une application de la technique du Slit scanning à de grands draps séchant au vent, en extérieur (forcément..). Le film est passé à la moulinette d'un script réalisé avec Processing pour réaliser ces panoramiques d'un nouveau genre...`,
            year: '2017',
            media: 'Vidéo / Processing',
            dimensions: 'Viewport'
        }
    } 
}
</script>