<template>
    <section :id="slug" :name="slug" class="doc-section">
        <h2>{{title}}</h2>
        <div class="mb-4">
 <b-badge pill variant="info">{{category}}</b-badge>
 <b-badge pill variant="light">{{media}}</b-badge>
        <b-badge pill variant="light">{{year}}</b-badge>
        </div>
       <p class="lead">
Ces séries explorent l'imagerie spatiale, fonctionnelle et descriptive, pour y rechercher une forme de message caché. 
Tout comme le cosmos l'est par ailleurs, ces images sont ici terrain d'exploration, lieux d'une potentielle vie -fût-elle visuelle- cachée.</p>
<p class="lead">Elles m'intéressent aussi car elles nous parlent de notre <em>à-venir</em>, elles cherchent ailleurs des traces de ce que nous abandonnerons ici.</p>
 <p class="lead">L'image numérique est ici matériau à part entière, décomposée jusqu'au pixel et à la couleur primaire et recontruite d'une façon nouvelle à l'aide de scripts réalisés avec Processing.</p>
        <Work :slug="slug" :imgs="imgs"/>  
    </section>
</template>
<script>
import Work from'@/components/Work'

export default {
    components: {
        Work
    },
    data: function() {
        return {
            type: 'standard',
            title: 'Mars',
            slug: 'mars',
            ongoing: false,
            imgs: 8,
            description: '',
            year: '2018',
            media: 'Processing sketch',
            dimensions: 'Variables'
        }
    } 
}
</script>

