<template>
    <section :id="slug" :name="slug">
        <h2>{{title}}</h2>
        <div class="mb-4">
            <b-badge pill variant="light">{{media}}</b-badge>
            <b-badge pill variant="light">{{year}}</b-badge>
        </div>
       <p class="lead">
           Dans cette série exploitant Google Earth, le but est à la fois de traquer ces moments ou les cartes se transmettent l’image, et de mettre en évidence les différentes temporalités d’une même position, ces images présentant simultanément différents états d’un même lieu. 
           La plupart de ce captures d'écran ont été réalisées lors d'une exploration systématique des glaciers d'Islande sur Google Earth.
       </p>
        <Work :slug="slug" :imgs="imgs"/>  
    </section>
</template>

<script>
import Work from'@/components/Work'

export default {
    components: {
        Work
    },
    data: function() {
        return {
            type: 'standard',
            title: 'Microclimats 2',
            slug: 'microclimats2',
            category: '',
            ongoing: true,
            imgs: 13,
            description: ``,
            year: '2016',
            media: 'Screenshots',
            dimensions: 'Variables'
        }
    } 
}
</script>

