<template>
    <section :id="slug" :name="slug">
        <h2>{{title}}</h2>
        <div class="mb-4">
            <b-badge pill variant="light">{{media}}</b-badge>
            <b-badge pill variant="light">{{year}}</b-badge>
        </div>
       <p class="lead">
           Le dé, objet préhistorique, évoque ici avec dérision l’espèce humaine et les origines du vivant. Le hasard est également lié à l’histoire même de ce lieu, le bâtiment ayant été conçu sans idée de ce qu’il allait contenir par la suite. (Projet pour le CACLB Montauban-sous-Buzenol (Musée lapidaire) dans le cadre des 50 ans de l’Académie Internationale d’été de Wallonie)
       </p>
        <Work :slug="slug" :imgs="imgs"/>  
    </section>
</template>

<script>
import Work from'@/components/Work'

export default {
    components: {
        Work
    },
    data: function() {
        return {
            type: 'standard',
            title: 'Un coup de dés',
            slug: 'montauban',
            category: '',
            ongoing: true,
            imgs: 3,
            description: ``,
            year: '2014',
            media: 'Projet',
            dimensions: 'Variables'
        }
    } 
}
</script>

