<template>
    <section :id="slug" :name="slug">
        <h2>{{title}}</h2>
        <div class="mb-4">
            <b-badge pill variant="secondary">{{category}}</b-badge>
            <b-badge pill variant="light">{{media}}</b-badge>
            <b-badge pill variant="light">{{year}}</b-badge>
        </div>
       <p class="lead">
           Ce projet en cours stocke la position de la souris en continu, chaque jour, dans des fichiers .csv utilisés à leur tour pour créer les images ci-dessous.
       </p>
        <Work :slug="slug" :imgs="imgs"/>  
    </section>
</template>

<script>
import Work from'@/components/Work'

export default {
    components: {
        Work
    },
    data: function() {
        return {
            type: 'standard',
            title: 'Mouses',
            slug: 'mouses',
            category: '',
            ongoing: true,
            imgs: 3,
            description: ``,
            year: '2018',
            media: 'Web, Swift, XCode',
            dimensions: 'Variables'
        }
    } 
}
</script>

