<template>
    <section :id="slug" :name="slug">
        <h2>{{title}}</h2>
        <div class="mb-4">
            <b-badge pill variant="light">{{media}}</b-badge>
            <b-badge pill variant="light">{{year}}</b-badge>
        </div>
       <p class="lead">
           {{description}}
           <br/>
           > <a href="http://mousehover.net/" title="mousehover.net" target="_blank" class="d-inline-flex mt-3">mousehover.net</a>
       </p>
        <Work2 :slug="slug" :imgs="imgs" :format="format"/>  
    </section>
</template>

<script>
import Work2 from'@/components/Work2'

export default {
    components: {
        Work2
    },
    data: function() {
        return {
            type: 'standard',
            title: 'Mouse:hover',
            slug: 'mousehover',
            ongoing: false,
            imgs: 6,
            format: 'png',
            description: `Cette simple page HTML affiche une série d'images de maisons déplacées. Lors du survol de la photo par la souris, l'image disparaît, laissant place à la mention "Mouse hover". Le travail joue bien sûr à la fois sur l'action et sur le mot.`,
            year: '2018',
            media: 'HTML / CSS',
            dimensions: 'Variables'
        }
    } 
}
</script>