<template>
    <section :id="slug" :name="slug">
        <h2>{{title}}</h2>
        <div class="mb-4">
            <b-badge pill variant="light">{{media}}</b-badge>
            <b-badge pill variant="light">{{year}}</b-badge>
        </div>
       <p class="lead">
            {{description}}
       </p>
        <Work :slug="slug" :imgs="imgs"/>  
    </section>
</template>

<script>
import Work from'@/components/Work'

export default {
    components: {
        Work
    },
    data: function() {
        return {
            type: 'standard',
            title: 'Naphta',
            slug: 'naphta',
            ongoing: true,
            imgs: 7,
            description: `Une série dans laquelle a été détourné un plugin de reconnaissance de caractères (Le Naptha project de Chrome - https://projectnaptha.com/ ). Ou ce que dit le geste de l'artiste (En l'occurence Cy Twombly, Dotremont..)`,
            year: '2014',
            media: 'Screencaptures + textes',
            dimensions: 'Variables'
        }
    } 
}
</script>

