<template>
    <section :id="slug" :name="slug">
        <h2>{{title}}</h2>
        <div class="mb-4">
            <b-badge pill variant="light">{{media}}</b-badge>
            <b-badge pill variant="light">{{year}}</b-badge>
        </div>
       <p class="lead">
           Ces images en mouvement sont générées sans cesse, dans la durée, utilisant les superpositions de couleurs RVB et transparences pour évoquer un univers nébulaire en constante évolution. Il s’agit ici d’un processus qui se déroule dans le temps, et toujours renouvelé.
       </p>
        <Work :slug="slug" :imgs="imgs"/>  
    </section>
</template>

<script>
import Work from'@/components/Work'

export default {
    components: {
        Work
    },
    data: function() {
        return {
            type: 'standard',
            title: 'Nebula',
            slug: 'nebula',
            category: '',
            ongoing: true,
            imgs: 5,
            description: ``,
            year: '2016',
            media: 'Processing - HTML/Javascript',
            dimensions: 'Variables, Viewport'
        }
    } 
}
</script>

