<template>
    <section :id="slug" :name="slug">
        <h2>{{title}}</h2>
        <div class="mb-4">
            <b-badge pill variant="secondary">{{category}}</b-badge>
            <b-badge pill variant="light">{{media}}</b-badge>
            <b-badge pill variant="light">{{year}}</b-badge>
        </div>
       <p class="lead">
           Extension Chrome. Activée, elle applique une rotation à l'ensemble des liens d'une page web.
       </p>
        <Work class="" :slug="slug" :imgs="imgs"/>  
    </section>
</template>

<script>
import Work from'@/components/Work'

export default {
    components: {
        Work
    },
    data: function() {
        return {
            type: 'standard',
            title: 'Orbit',
            slug: 'orbit',
            category: '',
            ongoing: false,
            imgs: 3,
            description: ``,
            year: '2018',
            media: 'Chrome extension',
            dimensions: 'Variables'
        }
    } 
}
</script>