<template>
    <section :id="slug" :name="slug">
        <h2>{{title}}</h2>
        <div class="mb-4">
            <b-badge pill variant="secondary">{{category}}</b-badge>
            <b-badge pill variant="light">{{media}}</b-badge>
            <b-badge pill variant="light">{{year}}</b-badge>
        </div>
       <p class="lead">
           Ce projet déconstruit les layouts de sites existants en réécrivant les règles CSS à l'aide des outils
           pour développeurs (ici l'inspecteur web de Firefox). (Ci-dessous: Facebook, Twitter et la NASA)
       </p>
        <Work class="img-2" :slug="slug" :imgs="imgs"/>  
    </section>
</template>

<script>
import Work from'@/components/Work'

export default {
    components: {
        Work
    },
    data: function() {
        return {
            type: 'standard',
            title: 'CSS overrules',
            slug: 'overrules',
            category: '',
            ongoing: false,
            imgs: 10,
            description: ``,
            year: '2017',
            media: 'CSS, Dev tools',
            dimensions: 'Variables'
        }
    } 
}
</script>