<template>
    <section :id="slug" :name="slug">
        <h2>{{title}}</h2>
        <div class="mb-4">
            <b-badge pill variant="secondary">{{category}}</b-badge>
            <b-badge pill variant="light">{{media}}</b-badge>
            <b-badge pill variant="light">{{year}}</b-badge>
        </div>
       <p class="lead">
           Travail en cours. Gravures réalisées au laser sur Trotec Speedy 100. Les visuels sont eux générés via Processing.
       </p>
        <Work :slug="slug" :imgs="imgs"/>  
    </section>
</template>

<script>
import Work from'@/components/Work'

export default {
    components: {
        Work
    },
    data: function() {
        return {
            type: 'standard',
            title: 'Anywhere papers',
            slug: 'papers',
            category: '',
            ongoing: true,
            imgs: 3,
            description: ``,
            year: '2018',
            media: 'Processing, Gravure laser sur papier',
            dimensions: 'Variables'
        }
    } 
}
</script>
