<template>
    <section :id="slug" :name="slug">
        <h2>{{title}}</h2>
        <div class="mb-4">
            <b-badge pill variant="secondary">{{category}}</b-badge>
            <b-badge pill variant="light">{{media}}</b-badge>
            <b-badge pill variant="light">{{year}}</b-badge>
        </div>
       <p class="lead">
           Travaux réalisés avec Processing visant à créer des motifs inédits, entre les trames videos et le design textile.
           Les images ci-dessous font partie d'une très longue série. 
       </p>
        <Work class="img-3" :slug="slug" :imgs="imgs"/>  
    </section>
</template>

<script>
import Work from'@/components/Work'

export default {
    components: {
        Work
    },
    data: function() {
        return {
            type: 'standard',
            title: 'Patternités',
            slug: 'patternites',
            ongoing: false,
            imgs: 14,
            description: 'This is the description for the div cities',
            year: '2018',
            media: 'Processing sketches',
            dimensions: 'Variables'
        }
    } 
}
</script>
