<template>
    <section :id="slug" :name="slug">
        <h2>{{title}}</h2>
        <div class="mb-4">
            <b-badge pill variant="secondary">{{category}}</b-badge>
            <b-badge pill variant="light">{{media}}</b-badge>
            <b-badge pill variant="light">{{year}}</b-badge>
        </div>
       <p class="lead">
           Le but est ici, comme pour certains autres travaux, d'obtenir une image noir et blanc qui puisse être gravée pour impression.
       </p>
       <p class="lead">
           L'image originale ayant une profondeur de 8 bits, elle est découpée en tranches (1 pour chaque bit). L'idée est ici de trouver le moment (la tranche) où l'image se perd. Ce sont souvent les tranches les plus riches visuellement.
       </p>
        <Work class="img-4" :slug="slug" :imgs="imgs"/>  
    </section>
</template>

<script>
import Work from'@/components/Work'

export default {
    components: {
        Work
    },
    data: function() {
        return {
            type: 'standard',
            title: 'Bit Planes',
            slug: 'plane',
            category: '',
            ongoing: false,
            imgs: 8,
            description: ``,
            year: '2018',
            media: 'Processing sketch, Lasercut',
            dimensions: 'Variables'
        }
    } 
}
</script>