<template>
    <section :id="slug" :name="slug" class="doc-section">
        <h2>{{title}}</h2>
        <div class="mb-4">
 <b-badge pill variant="info">{{category}}</b-badge>
        <b-badge pill variant="light">{{year}}</b-badge>
        </div>
       <p class="lead">
           <a href="http://www.mu.nl/en/about/agenda/cantenna-crafting" target="_blank">Cantenna Crafting</a> (or Pretty-Fly for a Wi-Fi) was a one day workshop organized by Roel Roscam Abbing and Dennis de Bel in Eindhoven (NL) during the exhibition <a href="http://mu.nl/en/exhibitions/materialising-the-internet" target="_blank">Materializing the Internet</a> that took place at MU art space.
            We learned how to build Wi-Fi antennas with our own locally sourced materials
       </p>
        <Work :slug="slug" :imgs="imgs"/>  
    </section>
</template>

<script>
import Work from'@/components/Work'

export default {
    components: {
        Work
    },
    data: function() {
        return {
            type: 'standard',
            title: 'Pretty fly for a Wi-Fi',
            slug: 'pretty-fly',
            category: 'Learning',
            ongoing: false,
            imgs: 8,
            description: `Cantenna Crafting (or Pretty-Fly for a Wi-Fi) was a one day workshop organized by Roel Roscam Abbing and Dennis de Bel in Eindhoven (NL) during the exhibition Materializing the Internet that took place at MU art space.
            We learned how to build Wi-Fi antennas with our own locally sourced materials`,
            year: 'Eindhoven, November 2017',
            media: '',
            dimensions: 'Variables'
        }
    } 
}
</script>
<style>

</style>
