<template>
    <section :id="slug" :name="slug">
        <h2>{{title}}</h2>
        <div class="mb-4">
            <b-badge pill variant="light">{{media}}</b-badge>
            <b-badge pill variant="light">{{year}}</b-badge>
        </div>
       <p class="lead">
           <em>Prisms</em> is a serie of web pieces bringing libraries to the front-end and exploring their visual potentialities using CSS and/or javaScript. Calculation times, delays and/or broken browsers are essential to these works. They use <a href="https://prismjs.com/" title="https://prismjs.com/" target="_blank" class="">prism.js</a> to identify elements in code. Syntax highlighting is then twisted using CSS.
         <br/>
           > <a href="https://prisms-p5.netlify.com" title="https://prisms-p5.netlify.com" target="_blank" class="d-inline-flex mt-3">https://prisms-p5.netlify.com</a>
       </p>
<div class="d-flex justify-content-center mt-5">
  <video width="94%" height="auto" style="border-radius:5px;" autoplay loop>
<source src="/works/prisms/prism.mp4" type="video/mp4" />

Your browser does not support the video tag.
</video>
</div>
     
        <div class="gallery">
           <a data-fancybox="prisms" class="prisms" href="/works/prisms/prisms-1.png">
                <img class="prisms my-3" src="/works/prisms/prisms-1.png"/>
           </a>
           <a data-fancybox="prisms" class="prisms" href="/works/prisms/prisms-3.png">
                <img class="prisms my-3" src="/works/prisms/prisms-3.png"/>
           </a>
           <a data-fancybox="prisms" class="prisms" href="/works/prisms/prisms-2.png">
                <img class="prisms my-3" src="/works/prisms/prisms-2.png"/>
           </a>
           
        </div>
    </section>
</template>

<script>
import Work from'@/components/Work'

export default {
    components: {
        Work
    },
    data: function() {
        return {
            type: 'standard',
            title: 'Prisms',
            slug: 'prisms',
            category: '',
            ongoing: true,
            imgs: 1,
            description: ``,
            year: '2019',
            media: 'HTML, Javascript',
            dimensions: 'Viewport'
        }
    } 
}
</script>

