<template>
    <section :id="slug" :name="slug">
        <h2>{{title}}</h2>
        <div class="mb-4">
            <b-badge pill variant="secondary">{{media}}</b-badge>
            <b-badge pill variant="light">{{year}}</b-badge>
        </div>
       <p class="lead">
           {{description}}
       </p>
        <Work :slug="slug" :imgs="imgs"/>  
    </section>
</template>

<script>
import Work from'@/components/Work'

export default {
    components: {
        Work
    },
    data: function() {
        return {
            type: 'standard',
            title: 'Tracé-Tracé',
            slug: 'stage',
            ongoing: true,
            imgs: 3,
            description: `Stage animé en collaboration avec Anne Dejaifve à l'Académie Royale des Beaux-Arts de Bruxelles, prenant la ville comme point de départ d'un laboratoire de recherches plastiques d'une semaine.`,
            year: '2017',
            media: 'Stage',
            dimensions: 'Variables'
        }
    } 
}
</script>