<template>
    <section :id="slug" :name="slug">
        <h2>{{title}}</h2>
        <div class="mb-4">
            <b-badge pill variant="light">{{media}}</b-badge>
            <b-badge pill variant="light">{{year}}</b-badge>
        </div>
       <p class="lead">
           {{description}}
       </p>
 
        <Work2 :slug="slug" :imgs="imgs" :format="format"/>  
    </section>
</template>

<script>
import Work2 from'@/components/Work2'

export default {
    components: {
        Work2
    },
    data: function() {
        return {
            type: 'standard',
            title: 'The Outlook',
            slug: 'the-outlook',
            ongoing: false,
            imgs: 1,
            format: 'png',
            description: `Cette page propose un paysage, une vue sur une côte, faite des drapeaux de différents pays méditerranéens, avec l'Angleterre comme horizon.`,
            year: '2018',
            media: 'HTML / CSS',
            dimensions: 'Variables'
        }
    } 
}
</script>