<template>
    <section :id="slug" :name="slug" class="doc-section">
        <h2>{{title}}</h2>
        <div class="mb-4">
        <b-badge pill variant="secondary">{{category}}</b-badge>
        <b-badge pill variant="light">{{media}}</b-badge>
        <b-badge pill variant="light">{{year}}</b-badge>
        </div>
       <p class="lead">
           Twittheures.be récupère chaque minute les tweets mentionnant explicitement l'heure qu'il est et les recharge dans la page. 
           Chaque bloc effectue une rotation de 360° par minute.
       </p>
        <Work :slug="slug" :imgs="imgs"/>  
    </section>
</template>

<script>
import Work from'@/components/Work'

export default {
    components: {
        Work
    },
    data: function() {
        return {
            type: 'standard',
            title: 'Twittheures',
            slug: 'twittheures',
            category: '',
            ongoing: false,
            imgs: 8,
            description: ``,
            year: '2018',
            media: 'NodeJS, Express, Twitter API, HTML, CSS',
            dimensions: 'Variables'
        }
    } 
}
</script>
