<template>
    <section :id="slug" :name="slug">
        <h2>{{title}}</h2>
        <div class="mb-4">
            <b-badge pill variant="light">{{media}}</b-badge>
            <b-badge pill variant="light">{{year}}</b-badge>
        </div>
       <p class="lead">
           An array of autonomous objects, describing in real time the way they move and directions they take. You may find last version of this work here: 
         <br/>
           > <a href="https://upandleft.netlify.com/" title="Up and Left" target="_blank" class="d-inline-flex mt-3">https://upandleft.netlify.com/</a>
       </p>
       <div class="gallery">
           <a data-fancybox="upandleft" class="upandleft" href="/works/upandleft/upandleft-3.png">
                <img class="upandleft my-3" src="/works/upandleft/upandleft-3.png"/>
           </a>
           <a data-fancybox="upandleft" class="upandleft" href="/works/upandleft/upandleft-4.png">
                <img class="upandleft my-3" src="/works/upandleft/upandleft-4.png"/>
           </a>
        </div>
        <Work :slug="slug" :imgs="imgs"/>
    </section>
</template>

<script>
import Work from'@/components/Work'

export default {
    components: {
        Work
    },
    data: function() {
        return {
            type: 'standard',
            title: 'Up and left',
            slug: 'upandleft',
            ongoing: true,
            imgs: 1,
            description: `An array of autonomous objects, describing in real time the way they move and directions they take. You may find last version of this work here:`,
            year: '2018',
            media: 'HTML/Javascript',
            dimensions: 'Viewport'
        }
    } 
}
</script>