<template>
    <section :id="slug" :name="slug">
        <h2>{{title}}</h2>
        <div class="mb-4">
            <b-badge pill variant="secondary">{{category}}</b-badge>
            <b-badge pill variant="light">{{media}}</b-badge>
            <b-badge pill variant="light">{{year}}</b-badge>
        </div>
       <p class="lead">ce travail est un des premiers travaux annonçant la série <em>Absurdata</em>(en cours).
       Il met en forme, sans aucune visée informationelle, la <em>Verb list</em> de Richard Serra, plaçant ces différentes actions et verbes dans un format, les reliant entre eux
        avec des tracés aux contours démesurément épais aux couleurs aléatoires.</p>
        <p class="lead">Les libellés sont en blanc sur blanc, empêchant toute identification et tout sens pour ne laisser qu'un enchevêtrement de blocs colorés, pourtant bien reliés aux données originales.</p>
        <p>Ce travail utilise Processing et <a href="https://www.graphviz.org/" target="_blank">Graphviz</a></p>
        <Work :slug="slug" :imgs="imgs"/>  
    </section>
</template>

<script>
import Work from'@/components/Work'

export default {
    components: {
        Work
    },
    data: function() {
        return {
            type: 'standard',
            title: 'Verb list',
            slug: 'verblist',
            category: '',
            ongoing: false,
            imgs: 3,
            description: ``,
            year: '2018',
            media: 'Processing, Graphviz',
            dimensions: 'Variables'
        }
    } 
}
</script>
