<template>
    <section :id="slug" :name="slug">
        <h2>{{title}}</h2>
        <div class="mb-4">
            <b-badge pill variant="secondary">{{category}}</b-badge>
            <b-badge pill variant="light">{{media}}</b-badge>
            <b-badge pill variant="light">{{year}}</b-badge>
        </div>
       <p class="lead">
Voir le jour est une sorte de mémorial listant chaque instant d’une journée active (entre le début de matinée, et la fin de soirée) par rapport aux moments qui le suivent et le précèdent. Ce laps de temps se décompose en quelque 6561 moments. (du type: Début de fin de fin de milieu de début de début de milieu d’après-midi. ) Les 117 panneaux ont été présentés pour la première fois lors de l'exposition Balises, à Beauvechain, fin 2016.
</p>
        <Work :slug="slug" :imgs="imgs"/>  
    </section>
</template>

<script>
import Work from'@/components/Work'

export default {
    components: {
        Work
    },
    data: function() {
        return {
            type: 'standard',
            title: 'Voir le jour',
            slug: 'voirlejour',
            category: '',
            ongoing: false,
            imgs: 7,
            description: ``,
            year: '2016',
            media: `Processing, Impressions jet d'encre`,
            dimensions: 'Variables'
        }
    } 
}
</script>