<template>
    <section :id="slug" :name="slug">
        <h2>{{title}}</h2>
        <div class="mb-4">
            <b-badge pill variant="secondary">{{category}}</b-badge>
            <b-badge pill variant="light">{{media}}</b-badge>
            <b-badge pill variant="light">{{year}}</b-badge>
        </div>
       <p class="lead">
           <a data-fancybox="prisms" class="prisms qr" href="/works/wholewideworld/QR-www.png">
                <img class="prisms ml-4 mb-3" src="/works/wholewideworld/QR-www.png"/>
           </a>
           <em>The Whole Wide World</em> is a mobile-specific piece working with <a href="https://fr.wikipedia.org/wiki/WebGL" title="WebGL" target="_blank">WebGL</a> and gyroscope device sensors. It makes the earth rotating along with you, following your movements.
           <br/>> <a href="https://thewholewideworld.net" title="https://thewholewideworld.net" target="_blank" class="d-inline-flex mt-3">https://thewholewideworld.net</a>
           
           </p>
           
           <p class="lead">
           Black and red is a combination I love, as it connect space and time and tells us about void and matter. 
           In astrophysics, the more red is a star, the further it is in time. This is of course our planet Earth.
       </p>
        <Work class="img-3" :slug="slug" :imgs="imgs"/>
    </section>
</template>

<script>
import Work from'@/components/Work'

export default {
    components: {
        Work
    },
    data: function() {
        return {
            type: 'standard',
            title: 'The Whole Wide World',
            slug: 'wholewideworld',
            category: '',
            ongoing: false,
            imgs: 3,
            description: ``,
            year: '2019',
            media: 'HTML, javaScript, WebGL',
            dimensions: 'Variables'
        }
    } 
}
</script>