<template>
    <section :id="slug" :name="slug">
        <h2>{{title}}</h2>
        <div class="mb-4">
            <b-badge pill variant="secondary">{{category}}</b-badge>
            <b-badge pill variant="light">{{media}}</b-badge>
            <b-badge pill variant="light">{{year}}</b-badge>
        </div>
       <p class="lead">
           (Photos: Marie D)
       </p>
        <Work class="" :slug="slug" :imgs="imgs"/>  
    </section>
</template>

<script>
import Work from'@/components/Work'

export default {
    components: {
        Work
    },
    data: function() {
        return {
            type: 'standard',
            title: 'Workshop / Julien Maire',
            slug: 'wk-julien-maire',
            category: '',
            ongoing: false,
            imgs: 6,
            description: ``,
            year: 'Novembre 2013',
            media: 'Apprendre',
            dimensions: 'Variables'
        }
    } 
}
</script>