<template>
    <section :id="slug" :name="slug">
        <h2>{{title}}</h2>
        <div class="mb-4">
            <b-badge pill variant="light">{{media}}</b-badge>
            <b-badge pill variant="light">{{year}}</b-badge>
        </div>
       <p class="lead">
           All 256 Xterm colors with their corresponding RGB values.
       </p>
        <NewWork :slug="slug" :imgs="imgs" :format="'png'"/>

      
    </section>
</template>

<script>
import NewWork from'@/components/NewWork'

export default {
    components: {
        NewWork
    },
    data: function() {
        return {
            type: 'standard',
            title: 'Xterm colors',
            slug: 'xterm',
            category: '',
            ongoing: true,
            imgs: 3,
            description: ``,
            year: '2019',
            media: 'Web matter',
            dimensions: 'Viewport'
        }
    } 
}
</script>