<template>
  <div>
    <div class="list-thumbnails">
        <div class="thumbnail" :class="{'is-featured': item.featured }" v-for="(item, index) in selectedWork" :key="index">
          <div class="thumb-info">
            <h4>{{item.title}}, {{item.date}}</h4>
            <p>{{item.summary}}</p>
          </div>
        </div>
      </div>
    <!--
    <section :class="{'is-featured': thiswork.isFeatured }">
        <h2>{{thiswork.title}}</h2>
        <div class="mb-4">
            <span pill variant="light">{{thiswork.media}}</span>
            <span pill variant="light">{{thiswork.year}}</span>
        </div>
        <p class="lead">
            {{thiswork.htmlcontent}}
        </p>
        <Work :slug="thiswork.slug" :imgs="thiswork.imgs" :filetype="thiswork.filetype"/>  
    </section>-->
  </div>
</template>

<script>
import worksQuery from '~/apollo/queries/works'

export default {  
  data() {
    return {
      works: [],
      query: ''
    }
  },
  apollo: {
    works: {
      prefetch: true,
      query: worksQuery
    }
  },
  computed: {
    selectedWork() {
      return this.works.filter(work => {
        return work.id.includes(this.$route.params.id)
      })
    },
  }
}
/*
import Works from "@/static/works.json"
import Work from '@/components/Work'

export default {
  head() {
      return {
          title: "Work "+ this.id,
          meta: [
              {
                hid: 'description',
                name: 'description',
                content: 'Ceci est la description de '+ this.id
              }
          ]
      }
  },
  components: {
      Work
  },
  data() {
    return {
      works: Works,
      thiswork: Works[this.$route.params.id]
    }
  },
  computed: {
      id() {
          return this.$route.params.id
      }
  }
}*/
</script>

<style>
.done {
  text-decoration: line-through;
}
</style>