$borderradius: .25rem;

/* THEMING */
$basecolor: #03c097;//#f94d00;//#ff033e ;//#01cea1;//#00e4b3;
$baselight: lighten($basecolor,45%);
$links: rgb(0, 92, 197);
$lightgray: #f1f1f1;
$radius:.3rem;
$fontsize:1.1rem;

.social {
    position: absolute;
    top: .4rem;
    display: flex;
    align-items:center;
    padding: 1rem;
    right: 2.5rem;
    z-index:10000;
    @media screen and (max-width:560px) {
        position:relative;
        width:100%;
        padding:0;
        right: 0;
        padding-top:1.5rem;
        display:flex;
        justify-content: center;
    }
    img {
        width: 20px;
        height: auto;
    }
    a {
        padding: .3rem;
    }
}

.theme-swap {
    //position:absolute;
    /*top:1rem;
    right:1rem;*/
    margin-left:1.5rem;
    border-radius:5rem;
    border:none;
    outline:none !important;
    display:flex;
    justify-content: center;
    align-items: center;
    width:44px;
    height:44px;
    background:none;
    .material-icons {
        transition:all ease .2s;
    }
    .theme-light {
        color:#fff;
    }
    .theme-dark {
        color:#000;
    }
    &:hover {
        cursor:pointer;
        .theme-light,
        .theme-dark {
            color:$basecolor;
        }  
    }
}
.main-content {
    font-family: 'Open Sans', sans-serif;
    font-size:$fontsize;
    &.dark-theme {
        background: rgb(0,0,0);
        background: linear-gradient(155deg, rgba(0,0,0,1) 0%, rgba(23,23,23,1) 100%);
        color:white;
        .site-title,
        .thumbnail {
            color:white;
        }
        p {
            a {
                color: white;
                border-bottom: 2px dotted white;
            }
        }
        .social,
        .backimg,
        .back-to-top {
            img {
                filter: invert(1);
                background:rgba(255, 255, 255, 0.897);
            }
        }
        .thumbnail h4::after {
            filter: invert(1);
            height:2px;
        }
        img {
            &.emoji-link {
                filter: invert(1);
            }
        }
        .work-detail {
            .link {
                a {
                    /*color:white !important;
                    border-color:white;*/
                    filter: invert(1);
                }
            }
        }
    }
}



.container {
    position: relative;
    padding:2vw 4vw  5vw 4vw;
    max-width:1000px;
    margin:0 auto;
    @media screen and (min-width: 1200px) {
        max-width:1400px;
    }
}

.list-thumbnails {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    //grid-auto-rows:100px;
    grid-auto-flow:dense;//rearrange les trucs
    grid-gap: 2vw;
    .section-title {
       /*max-width:100%;
            grid-column: 1 / 7;*/
     
    }
}
.section-title {
    background:#111;
    border-radius:.2rem;
    display:flex;
    justify-content: center;
    align-items: center;
    h2 {
        
        color:white;
        /*font-family: 'Playfair Display', serif;
        font-weight:400;
        font-size:36px;
        */
    }
}
.thumbnail {
    
}
img {
    border-radius:$borderradius !important;
    &.thumb {
        width:100%;
        
    }
}

html {
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    @media screen and (min-width: 768px) {
        font-size: 1rem;
    }
}
a {
    text-decoration: none;
}
.container-fluid {
    position: relative;
    padding: 1.5rem .75rem 3rem;
    flex-direction: column;
    @media screen and (min-width: 540px) {
        flex-direction: row;
    }
    @media screen and (min-width: 1140px) {
        flex-direction: row;
        padding: 3rem 0;
        max-width: 1100px;
    }
}

.site-title {
    color: #000;
    display:flex;
    @media screen and (max-width:560px) {
        justify-content: center;
    }
    h2 {
      /*  font-weight: 500;
      font-family: 'Playfair Display', serif;
        font-size: 3rem;*/
        //text-transform:uppercase;
        font-size: 2rem;
        font-weight:800;
        margin-bottom: 1.5rem;
        margin-top: 0;
        @media screen and (max-width:767px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 2.3rem;
        }
        .techniques {
            font-size: 1rem;
            span {
                display:inline-flex;
                margin:.5rem .3rem;
                font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
            }
        }
    }
    &:hover {
        text-decoration: none;
        color: #000;
    }
}



h2 {
   /* font-family: Playfair Display, serif;
    font-size: 3rem;*/
}

.badge {
    text-transform: uppercase;
}

p {
    a {
        color: #000;
        border-bottom: 2px dotted #000;
        &:hover {
            text-decoration: none;
        }
    }
}
.lead {
    /*font-family: 'Playfair Display', serif;
    font-size: 1.5rem;*/
    font-size: 1.5rem;
    p {
        margin-bottom:1rem;
    }
    
}
.close-icon {
    float: right;
    .material-icons {
        font-size: 4rem;
        transition: all .5s ease;
    }
    &:hover {
        cursor: pointer;
    }
}

.thumbnail {
    width: auto;
    color: #000;
    .metas {
        font-size: .8rem;
    }
    &:hover {
        text-decoration: none;
        color: black;
    }
    &.is-featured {
        grid-row: span 2;
        grid-column: span 2;
    }
    h4,
    p {
        padding: 0;
        margin: 0;
    }
    h4 {
        /*font-family: Playfair Display, serif;
        font-size: 1.5rem;
        font-weight: 400;*/
        &::after {
            content: "";
            display: flex;
            height: 3px;
            background: black;
            border-radius: 1rem;
            width: 50px;
            margin-top: .5rem;
            margin-bottom: .75rem;
        }
        @media screen and (min-width: 768px) {
            font-size: 1.1rem;
        }
    }
}
/*
.featured {
    display: flex;
    flex-wrap: wrap;
    .st-card {
        max-width: calc(100% - 1.6rem);
        width: calc(100% - 1.6rem);
        margin: 1.5rem .8rem 1.5rem .8rem;
        img {
            max-width: 100%;
        }
        @media screen and (min-width: 540px) {
            width: calc(50% - 1.6rem);
            max-width: calc(50% - 1.6rem);
        }
    }
}

.list-thumbnails {
    display: flex;
    flex-wrap: wrap;
    .st-card {
        width: calc(100% - 1.6rem);
        max-width: calc(100% - 1.6rem);
        margin: 1.5rem .8rem;
        img {
            max-width: 100%;
        }
        @media screen and (min-width: 540px) {
            width: calc(50% - 1.6rem);
            max-width: calc(50% - 1.6rem);
        }
        @media screen and (min-width: 768px) {
            width: calc(33% - 1.6rem);
            max-width: calc(33% - 1.6rem);
        }
        @media screen and (min-width: 1140px) {
            width: calc(25% - 1.6rem);
            max-width: calc(25% - 1.6rem);
        }
        .thumb-info {
            p {
                font-size: .85rem;
            }
        }
    }
}*/
/*
.thumbnail {
    display:flex;
    flex-direction:column;
    
  }
  .thumbnail figure {
    flex-grow:1;
    display:flex;
    overflow:hidden;
  }
  .thumbnail figure img {
    flex-shrink:0;
  
    
  }*/
  .thumbnail {
    display:flex;
    flex-direction:column;
    
  }
  .thumbnail figure {
    flex-grow:1;
    max-height: 125px;
    //max-height:200px;
    border-radius:$borderradius/2;
    transition:all ease .2s;
   display:flex;
    box-shadow: 0px 5px 15px -6px rgba(0,0,0,0.40);
    &:hover {
        box-shadow: 0px 5px 20px -6px rgba(0,0,0,0.3);
    }
  }
  .thumbnail figure img {
    min-width:100%;
    max-height: 125px;
  object-fit: cover;
  }
  
  .thumb-info {
    padding:1rem 0 2rem;
    p {
        opacity:.75;
        font-size: .85rem;
        line-height:1.2rem;
        overflow:hidden;
        max-height: 6rem;
        -webkit-box-orient: vertical;
        display: block;
        display: -webkit-box;
        overflow: hidden !important;
        text-overflow: ellipsis;
        -webkit-line-clamp: 5;
    }
    &:hover {
        p {
            opacity:1;
        }
    }
}
.mb-5 {
    margin-bottom:3rem;
}
.page-enter-active {
    transition: opacity 0.2s ease-out;
    opacity: 1;
}

.page-leave-active {
    transition: opacity 0.2s ease-in;
    opacity: 1;
}

.page-enter,
.page-leave-active {
    opacity: 0;
}

a.qr img {
    width: 140px;
    height: auto;
    float: right;
}


/* //////////////////////////////////////////////////// */


/* BACK TO TOP */


/* //////////////////////////////////////////////////// */

.back-to-top {
    position: fixed;
    bottom: -150px;
    transition: all ease 0.3s;
    &.active {
        width: 100vw;
        height: auto;
        background: none;
        position: fixed;
        bottom:1rem;
        left: 0;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            color: white;
        }
        .material-icons {
            transform: scale(1.15);
        }
        
    }
    img {
        transform: rotate(90deg);
        width:100px;
        height:100px;
        padding:1rem;
        background: white;
        border-radius: 150px !important;
    }
}

.page-enter-active {
    transition: opacity 0.2s ease-out;
    opacity: 1;
}

.page-leave-active {
    transition: opacity 0.2s ease-in;
    opacity: 1;
}

.page-enter,
.page-leave-active {
    opacity: 0;
}


.backimg {
    /*position:absolute;
    top:1rem;
    left:2rem;
    img {
        width:125px;
    }*/
    
    
}
.work-detail {
    .site-title {
        display:flex;
        align-items: center;
        margin-bottom:3rem;
        position:relative;
        h2 {
            margin-top:1.5rem;
            padding:0 5rem;
            text-align:center;
            margin-bottom:2rem;
            flex-grow:1;
            @media screen and (max-width:767px) {
                //margin-top:.5rem;
            }
        }
        img {
            position:absolute;
            top:0;
            left:0;
            width:125px;
            margin-left:-2rem;
            @media screen and (max-width:767px) {
                top:.5rem;
                width:90px;
                margin-left:-1rem;
            }
        }
    }
    .detail-info {
        margin-bottom:4rem;
        //padding:0 4vw;
    }
    .link {
        display:flex;
        align-items: center;
        /*font-family: 'Playfair Display', serif;
        font-size: 1.5rem;*/
        
        img {
            &.emoji-link {
                width:60px;
                height:auto;
                margin-right:.5rem;
            }
        }
        a {
            //font-weight:600;
            color:black !important;
            transition:all ease .2s;
            border-bottom: 2px dotted #000;
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-right:1rem;
            font-size:1.3rem;
            &:hover {
                //color:rgb(0, 90, 224) !important;
                border-color: red;
            }
        }
    }
}

/* //////// */
/* GALERIES */
/* //////// */

$margincard: 1rem;
/*
.galerie {
    img {
        width:100%;
        height:auto;
        margin-bottom:3vw;
    }
    &.col4 {
        @media only screen and (min-width: 576px) and (max-width: 767.9px) {
            img {
                width: calc(50% - .75rem);
                margin:0;
                margin-right: $margincard;
                margin-bottom: .75rem;
                &:nth-child(2n + 2) {
                    width: calc(50% - 0.75rem);
                    margin-right: 0;
                }
            }
        }
        @media screen and (min-width: 768px) {
            img {
                width: calc(25% - .75rem);
                margin:0;
                margin-right: $margincard;
                margin-bottom: .75rem;
                &:nth-child(4n + 4) {
                    width: calc(25% - 0.75rem);
                    margin-right: 0;
                }
            }
        }  
    }
}*/
.galerie {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    grid-auto-rows:auto;
    grid-auto-flow:dense;
    grid-gap: 2.5vw;
    img {
        width:100%;
        height:auto;
        margin-bottom:0;
    }
    &.col2 {
        a {
            display:flex;
            overflow:hidden;
            justify-content: center;
            border-radius:.3rem;

        }
        @media screen and (min-width: 576px) {
            grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
        }
        @media screen and (min-width: 768px) {
            grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
        }
    }
    &.col2feat1 {
        a {
            display:flex;
            overflow:hidden;
            justify-content: center;
           align-items: flex-start;
            border-radius:.3rem;
            img {
                width:100%;
               
                margin-bottom:0;
            }
        }
        @media screen and (min-width: 576px) {
            grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
        }
        @media screen and (min-width: 768px) {
            grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
            a {
      

                &:first-child {
                    grid-column: 1 / 3;
                }
            }
        }
    }
    &.col4feat1 {
        a {
            display:flex;
            overflow:hidden;
            justify-content: center;
           align-items: flex-start;
            border-radius:.3rem;
            img {
                width:100%;
               
                margin-bottom:0;
            }
        }
        @media screen and (min-width: 576px) {
            grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
        }
        @media screen and (min-width: 768px) {
            grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
            a {
                &:first-child {
                    grid-column: 1 / 3;
                }
            }
        }
    }
    &.col4 {
        @media screen and (min-width: 576px) {
            grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
        }
        @media screen and (min-width: 768px) {
            grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
        }
    }
    
}