

<template>

   
<ul class="artists-menu">
      <li v-for="item in artists">
        {{ item }}
      </li>
    </ul>



</template>
<script>
export default {
    data: function() {
    return {
      artists: [
        'Artists I love','Anthony Gormley', 'Robert Smithson', 'Jenny Odell', 'Pablo Garcia'
      ]
    }
  }
}
</script>
<style lang="scss">

</style>


