<template>
<ul id="js-menu" class="main-nav">
  <li v-for="item in items" class="">
    <nuxt-link class="nav-links" :to="'/'+item.page">{{item.label}}</nuxt-link>
  </li>
</ul>
</template>
<script>
import Technos from'@/components/Technos'
import Artists from'@/components/Artists'
import { mapState } from 'vuex'

export default {
    components: {
        Technos,
        Artists
    },
    data: function() {
        return {
            items: [
                { 
                    label: 'À propos',
                    page: 'apropos'
                },
                { 
                    label: 'The Whole Wide World',
                    page: 'works/wholewideworld'
                },
                { 
                    label: 'Prisms',
                    page: 'works/prisms'
                },
                { 
                    label: 'Mouses',
                    page: 'works/mouses'
                },
                { 
                    label: 'Frenetic Bezier curves',
                    page: 'works/frenetic'
                },
                { 
                    label: 'The Guest Book',
                    page: 'works/guestbook'
                },
                { 
                    label: 'Anywhere papers',
                    page: 'works/papers'
                },
                { 
                    label: 'Up and left',
                    page: 'works/upandleft'
                },
                { 
                    label: '<UNK>',
                    page: 'works/densecap'
                },
                { 
                    label: 'Mouse:hover',
                    page: 'works/mousehover'
                },
                { 
                    label: 'Voir le jour',
                    page: 'works/voirlejour'
                },
                { 
                    label: 'Nebula',
                    page: 'works/nebula'
                },
                { 
                    label: 'Bit planes',
                    page: 'works/plane'
                },
                { 
                    label: 'Orbits',
                    page: 'works/orbit'
                },
                { 
                    label: 'Appareil photo (1943)',
                    page: 'works/1943'
                },
                { 
                    label: 'Twittheures',
                    page: 'works/twittheures'
                },
                { 
                    label: 'CSS overrules',
                    page: 'works/overrules'
                },
                { 
                    label: 'Sans titre [Tableau]',
                    page: 'works/bernard'
                },
                { 
                    label: 'Naphta',
                    page: 'works/naphta'
                },
                { 
                    label: 'Verb list',
                    page: 'works/verblist'
                },
                { 
                    label: 'Mars',
                    page: 'works/mars'
                },
                { 
                    label: 'Patternités',
                    page: 'works/patternites'
                },
                { 
                    label: 'horsligne.online',
                    page: 'works/horsligne'
                },
                { 
                    label: 'Div Cities',
                    page: 'works/divcities'
                },
                { 
                    label: 'Microclimats',
                    page: 'works/microclimats'
                },
                { 
                    label: 'Microclimats 2',
                    page: 'works/microclimats2'
                },
                { 
                    label: 'Un coup de dés',
                    page: 'works/montauban'
                },
                { 
                    label: '30 frames, everywhere',
                    page: 'works/30-frames'
                },
                { 
                    label: 'Baldessari.js',
                    page: 'works/baldessari'
                },
                { 
                    label: 'AKDT sessions',
                    page: 'works/akdt'
                },
                
                { 
                    label: 'Itten sorted',
                    page: 'works/ittensorted'
                },
                
                { 
                    label: 'Slit-scan laundry',
                    page: 'works/laundry'
                },
                
                { 
                    label: 'The outlook',
                    page: 'works/the-outlook'
                },
                { 
                    label: 'Pretty Fly',
                    page: 'works/pretty-fly'
                },
                { 
                    label: 'Antichambre',
                    page: 'works/antichambre'
                },
                 { 
                    label: 'Tracé-Tracé',
                    page: 'works/stage'
                }
                
            ]
        }
    
  },
  computed: mapState(['page'])
}
</script>
<style lang="scss">

</style>
