<template>
    <div class="info">
        <h2>
        {{title}}
        </h2>
        <div class="badges">
            <span class="media">{{media}}</span>
            <span class="year">{{year}}</span>
        </div>
        <p>{{description}}</p>
        <div class="gallery">
           <a :data-fancybox="slug" v-for="(image, index) in imgs" :class="slug" :href="'/works/'+slug+'/'+slug+'-'+index+'.'+format">
                <img  :class="slug" class="my-3" :src="'/works/'+slug+'/'+slug+'-'+index+'.'+format"/>
           </a>
        </div>
    </div>
</template>

<script>
    export default {
        components: {
        },
        props: {
            type: String,
            format: String,
            title: String,
            slug: String,
            ongoing: true,
            imgs: Number,
            description: String,
            year: String,
            media: String,
            dimensions: String
        }
    }
</script>
<style lang="scss">
    img {
        max-width:100%;
        border-radius:3px;
    }
    .img-2 {
        img {
            max-width:48%;
            margin-right:2%;
            margin-bottom:0 !important;
            margin-top:2% !important;
        }
    }
    .img-3 {
        img {
            max-width:31%;
            margin-right:2%;
            margin-bottom:0 !important;
            margin-top:2% !important;
        }
    }
    .img-4 {
        img {
            max-width:23%;
            margin-right:2%;
            margin-bottom:0 !important;
            margin-top:2% !important;
        }
    }
</style>

