

<template>
<ul class="technos-menu">
    <li v-for="item in technos">
      {{ item }}
    </li>
  </ul>



</template>
<script>
export default {
    data: function() {
    return {
      technos: [
        'Mes outils','html', 'css', 'scss', 'nuxtjs', 'javascript','crayon', 'vuejs', 'raspberrypi', 'mongodb', 'express', 'ejs', 'photoshop', 'illustrator','pinceau', 'sketch', 'indesign', 'inkscape', 'scratch', 'micro:bit', 'processing', 'p5js', 'lasercut'
      ]
    }
  }
}
</script>
<style lang="scss">

</style>


