<template>
    <article>
        <img :src="imgSrc" :alt="imgAlt">
        <h2>{{title}}</h2>
        <div class="meta">
            <span class="year">2019</span>
            <span>HTML/CSS</span>
            <span>Impression jet d'encre</span>
        </div>
        <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt necessitatibus ea iure aliquam voluptas quaerat sunt quas voluptatibus quam facilis eveniet repellendus ratione sit suscipit, culpa enim assumenda eos illum.
        </p>
    </article>
</template>

<script>

export default {
  data() {
    return {
      works: Works
    }
  },
  props: {
      colspan: Number,
      rowspan: Number,
      title: String,
      description: String,
      imgSrc: String,
      imgAlt: String,
      hasTabs:  {hasTabs: Boolean, default: true}
  }
}
</script>

<style lang="scss" scoped>
    
</style>