<template>
  <div class="main-content" :class="themeStatus ? 'dark-theme' : 'light-theme'">
    <div class="social d-none d-md-flex">
      <a
        href="https://www.hicetnunc.xyz/tz/tz1hTfioT7ApZmAQPpLuV3EaZerrA2EAqPUX"
        target="_blank"
        title="Hic et Nunc NFTs"
        ><img src="/icon-hicetnunc.png" alt="Hic et Nunc logo"></a>
      <a
        href="https://mastodon.social/web/accounts/339504"
        target="_blank"
        title="Mastodon"
        ><img src="/icon-mastodon.png" alt="Mastodon"></a>
      <a href="https://twitter.com/nicobiev" target="_blank" title="Twitter"
        ><img src="/icon-twitter.png" alt="Mastodon"></a>
      <a
        href="https://www.linkedin.com/in/nicolasbieva/"
        target="_blank"
        title="Linked In"
        ><img src="/icon-linkedin.png" alt="Mastodon">
      </a>
      <button class="theme-swap" @click="toggleTheme">
        <span class="material-icons theme-dark" v-if="!themeStatus"
          >dark_mode</span
        >
        <span class="material-icons theme-light" v-if="themeStatus"
          >wb_incandescent</span
        >
    </button>
    </div>
    
    <nuxt />
    <a href="#top" class="back-to-top btn shadow">
      <img src="/back2.svg" />
    </a>
  </div>
</template>
<script>
import { mapGetters } from "vuex";

export default {
  computed: {
    ...mapGetters(["themeStatus"]),
  },
  methods: {
    toggleTheme() {
      this.$store.commit("TOGGLE_THEME");
    },
  },
  mounted: function() {
    $(window).scroll(function() {
      var top = $(this).scrollTop(),
        windowHeight = $(this).height();
      if (top > 200) {
        $(".back-to-top").addClass("active");
      } else {
        $(".back-to-top").removeClass("active");
      }
    });
    $(".back-to-top").click(function() {
      $("body,html").animate(
        {
          scrollTop: 0,
        },
        500
      );
    });
  },
};
</script>

<style></style>
