<template>
    <div class="container work-detail">
        <div :class="{
          'is-featured': item.featured 
          }" v-for="(item, index) in selectedWork" :key="index">
         <div class="detail-info">
            <div class="site-title">
              <nuxt-link to="/" class="d-flex backimg"><img  src="/back2.svg"></nuxt-link>
              <h2 class="d-flex">
                {{item.title}}, {{item.work.date}}
                <div class="techniques">
                  <span v-for="(tech, index) in item.work.technique" :key="index">{{tech}}</span>
                </div>
              </h2>
            </div>
            
            <div class="lead" v-html="item.content"></div>
            <div class="link" v-if="item.work.lien1"><img class="emoji-link" src="/link1.svg"><a :href="item.work.lien1" target="_blank" :title="'Aller sur '+item.work.lien1">{{item.work.lien1}}</a></div>
            <div class="link" v-if="item.work.lien2"><img class="emoji-link" src="/link1.svg"><a :href="item.work.lien2" target="_blank" :title="'Aller sur '+item.work.lien2">{{item.work.lien2}}</a></div>
        </div>
          <div v-if="item.work.video" class="d-flex justify-content-center mt-5">
            <video width="100%" height="auto" autoplay="autoplay" loop="loop" style="border-radius: 5px;"><source :src="item.work.video" type="video/mp4">
            Your browser does not support the video tag.
            </video>
          </div>
         <div class="galerie" v-if="item.work.typeDeGalerie != '1col'" :class="{
          'col1': item.work.typeDeGalerie == '1col',
          'col2': item.work.typeDeGalerie == '2col',
          'col2feat1': item.work.typeDeGalerie == '2colfeat1',
          'col3': item.work.typeDeGalerie == '3col',
          'col3feat1': item.work.typeDeGalerie == '3colfeat1',
          'col3feat2': item.work.typeDeGalerie == '3colfeat2',
          'col4': item.work.typeDeGalerie == '4col',
          'col4feat1': item.work.typeDeGalerie == '4colfeat1',
          'col4feat2': item.work.typeDeGalerie == '4colfeat2',
          'col4feat3': item.work.typeDeGalerie == '4colfeat3',
          'col5': item.work.typeDeGalerie == '5col' 
          }" >
            <a :data-fancybox="item.title" :href="image.mediaItemUrl"  v-for="(image, index) in item.work.galerie" :key="index">
                <img class="galitem" :src="image.mediaItemUrl" alt="">
            </a>
          </div>
          <div class="galerie" v-if="item.work.typeDeGalerie == '1col'">
                <img class="galitem" :src="image.mediaItemUrl" alt="" v-for="(image, index) in item.work.galerie" :key="index">
          </div>
          </div>
        </div>

</template>

<script>
  import worksQuery from '~/apollo/queries/works'

  export default {  
    data() {
      return {
        posts: [],
        query: ''
      }
    },
    apollo: {
      posts: {
        prefetch: true,
        query: worksQuery
      }
    },
    computed: {
      selectedWork() {
        return this.posts.nodes.filter(post => {
          return post.uri.includes(this.$route.params.slug)
        })
      },
    }
  }
</script>

<style>
  .done {
    text-decoration: line-through;
  }
</style>