<template>
  
    <div class="container">
      
      <div class="lead mb-5">
        <a href="/" class="site-title"><h2>sanstitre.be</h2></a>
         <p>Plasticien et webdesigner, j'enseigne dans le département des Arts numériques à l'<a href="http://www.lacambre.be" target="_blank">ENSAV de La Cambre</a> à Bruxelles, 
        ainsi qu'à Namur, dans l'atelier <a title="CEC Namur" href="http://miam-art.be" target="_blank">Arts plastiques</a> du CEC des <a title="Le site du CEC" href="http://centrecultureldenamur.be/programme/cec-ateliers-bis-actions/">Abattoirs de Bomel</a> (Centre Culturel de Namur).
        </p>
      </div>
    
      <div class="list-thumbnails">
        <nuxt-link class="thumbnail" :class="{'is-featured': item.featured }" v-for="(item, index) in posts.nodes" :key="index"  :to="item.uri">
         
          <figure @click="menuOpen=false, setID(item.slug)"  class="shadow-sm">
            <img :src="item.featuredImage.sourceUrl" class="thumb" alt="">
          </figure>
          <div class="thumb-info">
            <h4>{{item.title}}, <span v-for="(cat, index) in item.categories.nodes" :key="index">{{cat.name}}</span></h4>
            <div v-html="item.excerpt"></div>
          </div>
         
        </nuxt-link>
      </div>


    </div>
 
</template>

<script>
import worksQuery from '~/apollo/queries/works'

export default {  
  data() {
    return {
      posts: [],
      query: ''
    }
  },
  apollo: {
    posts: {
      prefetch: true,
      query: worksQuery
    }
  },
  computed: {
    filteredList() {
      return this.works.filter(work => {
        return work.title.toLowerCase().includes(this.query.toLowerCase())
      })
    },
  }
}

</script>

<style>

</style>